body{
    background: url(../images/Background.jpg);
    width: 100%;
    height: auto;
    background-size: 100%
}
.container {
    text-align: center;
    margin: 15px auto;
}
h1{
    color: #73f44f;
    border: inset #73f447;
    background: #020202;
    width: 20%;
    margin: 30px auto;
    font-family: 'Share Tech Mono', monospace;
}
#startbutt {
    color: #73f44f;
    border: inset #73f44f;
    background: #020202;
    width: 45%;
    margin: 300px auto;
    font-family: 'Share Tech Mono', monospace;
    height: auto;
    padding: 5px;
}
#startbutt:hover {
    background: #73f44f;
    color: #020202
}
h4{
    color: #73f44f;
    border: inset #73f44f;
    background: #020202;
    width: 30%;
    margin: 10px auto;
    font-family: 'Share Tech Mono', monospace;
}
h4:hover {
    color: green
}
#qbox{
    background: #020202;
    color: #73f44f;
    border: inset #73f44f;
    height: auto;
    font-size: 30px;
    margin: 20px auto;
    font-family: 'Share Tech Mono', monospace;
}
#abox {
    display: none;
    flex-wrap: wrap;
}
.butt {
    background: #020202;
    color: #73f44f;
    border: inset #73f44f;
    width: 45%;
    height: auto;
    margin: 15px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    margin: 50px auto;
}
.butt:hover{
    background: #73f44f;
    color: #020202
}
#roundstats{
    background: #020202;
    color: #73f44f;
    border: inset #73f44f;
    margin: 20px auto;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
}
#timer{
    background: #020202;
    color: #73f44f;
    border: inset #73f44f;
    margin: 20px auto;
    padding: 5px;
    font-family: 'Share Tech Mono', monospace;
}
#rstart:hover{
    background: #73f44f;
    color: #020202
}
button:focus {
    outline:0;
}
@media only screen and (max-width: 1200px) {
    body {
      background-size: auto;
    }
    h1{
        width: auto
    }
    .butt{
        margin: 25px auto;
    }
    .butt:hover{
        background: #020202;
        color: #73f44f;
    }
  }